.avatart_dropdown {
  display: flex;
}
.avatar_togle{
  align-items: center;
}

.avatar_trigger{
  border: none;
  background-color: transparent;
}

.avatar_image {
  width: 28px;
  height: 28px;
  margin-right: 8px;
}